.Itemli {
    margin: 2px;

    border: solid;
    border-width: 2px;
    border-radius: 5px;

    padding: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TaskItem {
    padding: 2px;

    
}

.ButtonHolderItem {
    padding: 2px;

    display: flex;
    justify-content: space-between;
}

.ButtonItem {
    margin: 5px;

    border: none;
    background-color: transparent;
}
