.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #87C4FF;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  font-family: Bebas Neue;
  font-weight: lighter;
  text-transform: uppercase;
}

nav .menu {
  margin-right: 15px;
}

nav .PageLink{
  margin: 5px;

  color: #DDF2FD;
  text-decoration: none;
}

.PageTitle {
  margin-left: 15px;
  letter-spacing: 2px;

  color: #ee6674;
  font-size: xx-large;
}

.PageLink:after {
  text-decoration: underline;
}